@model SoftwareASPViewDinamica.Models.Student

<!--VISTA PARTIAL  NO TIENE LA ESCTRUCTURA DE HTML CLASICA, -->

<div>
    <!--Create es el metodo de ACCION-->
    <!--El CONTROLER es Home-->
    <!--Indicamos el FormMethod-->
    <!--Aca estamos apuntando a

        [HttpPost]//Recibe un MODELO "un student"
    public ActionResult Create(Student newStudent)
    {
        //Aca iria el codigo e acceso  A DATOS DAC
        Student nuevo = newStudent;

        return View("Detalle",nuevo);
    }


        -->
    @using (Html.BeginForm("Create", "Student", FormMethod.Post))
    {

        <table>
            <tr>
                <!--Recorremos los atributos con Lambda-->
                <td>@Html.LabelFor(m => Model.StudentId)</td>
                <td>@Html.TextBoxFor(m => Model.StudentId)</td>
            </tr>

            <tr>
                <!--Recorremos los atributos con Lambda-->
                <td>@Html.LabelFor(m => Model.Name)</td>
                <td>@Html.TextBoxFor(m => Model.Name)</td>
            </tr>
            <tr>
                <!--Recorremos los atributos con Lambda-->
                <td>@Html.LabelFor(m => Model.Gender)</td>

                <td>
                    <!--Encerramos dentro de un TD los radio-->
                    Male:     @Html.RadioButtonFor(m => Model.Gender, "Male", new { @checked = "checked" })
                    Female:   @Html.RadioButtonFor(m => Model.Gender, "Female", true)
                </td>
            </tr>
            <tr>
                <!--Recorremos los atributos con Lambda-->
                <td>@Html.LabelFor(m => Model.City)</td>
                <td>@Html.TextBoxFor(m => Model.City)</td>
            </tr>
            <tr>
                <!--Recorremos los atributos con Lambda-->
                <td>@Html.LabelFor(m => Model.Address)</td>
                <td>@Html.TextBoxFor(m => Model.Address)</td>
            </tr>

            <tr>
                <!--NO OLVIDAR EL INPUT-->
                <td>
                    <input type="submit" value="Guardar" />
                </td>
            </tr>


        </table>


    }


</div>